h1 {
  text-align: center;
}

.container {
  margin: 0 14%;
}


.about-me-box {
  display: grid;
  grid-template-columns: 120px 1fr 3.5fr;
  padding: 20px 0;
  font-size: 20px;

  h3 {
    font-size: 35px;
    margin-right: 20px;
  }

  .bar{
    height: 100%;
    width: 4px;
    background-color: white;
    margin: 0 auto;
  }

  p{
    padding-left: 2%;
  }
}