<div class="container">
  <div class="center">
    <h3 >recipe 1</h3>
    <img src="../../assets/dose-juice-1184446-unsplash.jpg" alt="">
    <p>this is where it will be described</p>
  </div>
  <div class="center">
    <h3 >Recipe 2</h3>
    <img src="../../assets/dose-juice-1184446-unsplash.jpg" alt="">
    <p>Another desciprtion</p>
  </div>
  <div  class="center">
    <h3>The third one</h3>
    <img src="../../assets/dose-juice-1184446-unsplash.jpg" alt="">
    <p>This will be you guessed it another description</p>
  </div>
  <div class="button center">
    <button>More Recipes</button>
  </div>
</div>

